{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="{% static "css4/change_password.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}" />
</head>
<body>
    <h1>비밀번호 변경 페이지입니다.</h1>
    <form class="profile-form" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">기존 비밀번호</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="form-error">{{ form.old_password.errors.as_text }}</div>
            {% endif %}
        </div>
    
        <div class="form-group">
            <label for="new_password1">변경할 비밀번호</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="form-error">{{ form.new_password1.errors.as_text }}</div>
            {% endif %}
        </div>
    
        <div class="form-group">
            <label for="new_password2">변경할 비밀번호 확인</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="form-error">{{ form.new_password2.errors.as_text }}</div>
            {% endif %}
        </div>
    
        <button type="submit" class="button">비밀번호 변경</button>
        <a href="{% url "accounts:profile" %}" class="button">뒤로가기</a>
    </form>
</body>
</html>
