{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        /* Your custom CSS styles go here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
        }
        .container {
            text-align: center;
            padding: 100px;
        }
        h1 {
            font-size: 48px;
            color: #ff5733;
        }
        p {
            font-size: 18px;
            color: #555;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}" />
</head>
    
<body>
    <div class="container">
        <h1>이런! 권한이 없습니다!</h1>
        <p>해당 페이지에 대한 권한이 없습니다.</p>
        <a href="{% url "blog:post_list" %}" style="text-decoration: none; color: #ff5733;">블로그로 돌아가기</a>
    </div>
</body>
    
</html>