<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성</title>
    
</head>
    
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="작성하기">
        <input type="button" value="나가기" onclick="location.href = '{% url 'blog:post_list' %}'">
    </form>
</body>
    
</html>