<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 목록</title>
    
</head>
    
<body>
    <h1>글 목록</h1>
    <form action="{% url 'blog:post_search' %}" method='GET'>
        <input type="text" name='q' value='{{ request.GET.q }}'>
        <input type="submit" value='검색'>
    </form>
    <ul>
        {% for post in post_list  %}
            <li>
                <a href="{% url 'blog:post_detail' post.pk %}">
                    {{post.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
    
</html>