{% extends "base.html" %}
{% block content %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Cooking Blog!</h1>
                    <p class="lead mb-0">요리 레시피 & 요리 팁</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="{% url "blog:post_detail" post.pk %}">
                                    {% if post.main_image %}
                                    <img class="card-img-top" src="{{ post.main_image.url }}" alt="..." />
                                    {% else %}
                                    <img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." />
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <div class="small text-muted">{{post.created_at}}</div>
                                    <h2 class="card-title h4">{{post.title}}</h2>
                                    <p class="card-text">{{post.author}}</p>
                                    <a class="btn btn-primary" href="{% url "blog:post_detail" post.pk %}">더보기 →</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a></li>
                            {% endif %}
                    
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                    
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">다음</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endblock content %}
                {% block sidebar %}
                <a href="{% url "blog:post_write" %}" style="text-decoration: none; color: white" class="btn btn-primary">글 작성하기</a>
                {% endblock sidebar %}