{% extends "base.html" %}
{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">
                                Posted on {{post.created_at}} by {{post.author}}
                                <br> 
                                <i class="fa-solid fa-eye" style="color: #0d6efd;"></i> {{post.view_count}}
                            </div>
                            <!-- Post categories-->
                            {% for tag in post.tag.all  %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'blog:post_search' %}?q={{ tag.name }}">{{ tag.name }}</a>
                            {% endfor %}
                        </header>
                        <!-- Preview image figure-->
                        {% if post.main_image %}
                        <figure class="mb-4">
                            <img class="img-fluid rounded" src="{{ post.main_image.url }}" alt="">
                            {% else %}
                            <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                        </figure>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                            <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                            <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                            <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                            <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                            <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" method="post">
                                    {% csrf_token %}
                                    <textarea class="form-control" id="{{ comment_form.message.id_for_label }}" name="{{ comment_form.message.html_name }}" rows="3" placeholder="댓글을 작성해 보세요!">{{ comment_form.message.value|default:'' }}</textarea>
                                    <br>
                                    <input class="btn btn-primary" type="submit" value="작성">
                                </form>
                                {% for comment in top_comments %}
                                    <!-- Comment with nested comments-->
                                    <div class="d-flex mb-4">
                                        <!-- Parent comment-->
                                        <div class="flex-shrink-0">
                                            <!-- Parent comment-->
                                            <div class="flex-shrink-0">
                                                {% if comment.author.profile.profile_image and comment.author.profile.profile_image.url %}
                                                <img class="rounded-circle" src="{{comment.author.profile.profile_image.url}}" alt="" style="width:50px; height:50px; object-fit: cover;">
                                                {% else %}
                                                <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="ms-3" style="margin-left: 0; width: 100%;">
                                            <div class="fw-bold">{{ comment.author }}</div>
                                            {{ comment.message }}
                                            <a href="{% url "blog:comment_edit" post.pk comment.pk %}"><i class="fa-regular fa-pen-to-square fa-bounce" style="color: #0d6efd;"></i></a>
                                            <a href="{% url "blog:comment_delete" post.pk comment.pk %}"><i class="fa-regular fa-trash-can fa-bounce" style="color: #0d6efd;"></i></a>
                                            <button class="reply-btn"><i class="fa-solid fa-reply fa-bounce" style="color: #0d6efd;"></i></button>
                                            <div class="reply-form" style="display: none;">
                                                <form class="mb-4" method="post">
                                                    {% csrf_token %}
                                                    <textarea class="form-control" id="{{ comment_form.message.id_for_label }}" name="{{ comment_form.message.html_name }}" rows="3" placeholder="답글을 작성해 보세요!">{{ comment_form.message.value|default:'' }}</textarea>
                                                    <input type="hidden" name="nested_reply" value="{{ comment.id }}">
                                                    <br>
                                                    <input class="btn btn-primary" type="submit" value="작성">
                                                </form>
                                                
                                            </div>
                                            <!-- Child comments -->
                                            {% for child_comment in comment.reply.all %}
                                                <div class="d-flex mt-4">
                                                    <div class="flex-shrink-0">
                                                        {% if child_comment.author.profile.profile_image and child_comment.author.profile.profile_image.url %}
                                                        <img class="rounded-circle" src="{{child_comment.author.profile.profile_image.url}}" alt="" style="width:50px; height:50px; object-fit: cover;">
                                                        {% else %}
                                                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                        {% endif %}
                                                    </div>
                                                    <div class="ms-3">
                                                        <div class="fw-bold">{{ child_comment.author }}</div>
                                                        {{ child_comment.message }}
                                                        <a href="{% url "blog:comment_edit" post.pk child_comment.pk %}"><i class="fa-regular fa-pen-to-square fa-bounce" style="color: #0d6efd;"></i></a>
                                                        <a href="{% url "blog:comment_delete" post.pk child_comment.pk %}"><i class="fa-regular fa-trash-can fa-bounce" style="color: #0d6efd;"></i></a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>아직 댓글이 없습니다. :(</p>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
                <style>
                    .reply-btn {
                        background: none !important;
                        border: none;
                        padding: 0 !important;
                        /*optional*/
                        font-family: arial, sans-serif;
                        /*input has OS specific font-family*/
                        color: #0d6efd;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                </style>
                <script>
                    document.querySelectorAll('.reply-btn').forEach(function(button) {
                        button.addEventListener('click', function() {
                            let form = button.parentElement.querySelector('.reply-form');
                            if (form.style.display === 'none') {
                                form.style.display = 'block';
                            } else {
                                form.style.display = 'none';
                            }
                        });
                    });
                </script>
                {% endblock content %}
                {% block sidebar %}
                <a href="{% url "blog:post_edit" post.pk %}" style="text-decoration: none; color: white" class="btn btn-primary">글 수정하기</a>
                <a href="{% url "blog:post_delete" post.pk %}" style="text-decoration: none; color: white" class="btn btn-primary">글 삭제하기</a>
                {% endblock sidebar %}