body {
    background-color: #f4f5f7;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.profile-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button {
    display: inline-block;
    margin: 10px auto;
    text-decoration: none;
    color: #fff;
    background-color: #ff5733;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;  /* 글자 크기 설정 */
    text-align: center;  /* 텍스트를 중앙으로 정렬 */
}

.button:hover {
    background-color: #e74c3c;
    color: white;
}
