body {
    background-color: #f4f5f7;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.img-container {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px auto;
    text-decoration: none;
    color: #ff5733;
    border: 1px solid #ff5733;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;  /* 글자 크기 설정 */
    text-align: center;  /* 텍스트를 중앙으로 정렬 */
}

.button:hover {
    background-color: #ff5733;
    color: white;
}
